header
{
    max-width: 1920px;
    background-color: rgb(21, 21, 90);
    color: aliceblue;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    overflow: hidden;
}

header .logo
{
    width: 25%;
    margin: 1rem;

}

header .right
{
    width: 55%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

header ul
{
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.login
{
    box-sizing: border-box;
    margin: auto;
}

header li
{
    margin: auto;
}

header a
{
    text-decoration: none;
    color: aliceblue;
    padding: 1.5rem;
}

header a:hover
{
    background-color: rgb(59, 59, 134);
}

@media(max-width: 740px)
{
    header
    {
        width: 100%;
        height: 60px;
    }

    header .logo, a

    {
        display: none; 
    }
}