main
{
    background-color: rgb(210, 210, 255);
}

.linha1, .linha2
{
    height: 450px;
    display: flex;
    flex-direction: row;
}

.receita
{
    padding: 1rem;
    margin: auto auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px;
    width: 200px;
    height: 350px;
    border-radius: 10%;
}

.receita h1, h3
{
    text-align: center;
}

.receita ol
{
    padding: 1rem;
}

.receita li
{
    padding: 3px 0px;
}

@media(max-width: 740px)
{
    .linha1, .linha2
    {
        height: 1400px;
        flex-wrap: wrap;
    }

    .receita
    {
        width: 250px;
        height: 400px;
    }
}